.player-hud {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    height: fit-content;
    left: 25px;
    bottom: 25px;
    pointer-events: none;
    .game-prog-container {
        display: flex;
        align-items: center;
        width: 48.5%;
        height: 24px;
        border-top: 1px solid rgba($grey-dark, 0.25);
        border-left: 1px solid rgba($grey-dark, 0.25);
        border-right: 1px solid rgba($grey-dark, 0.25);
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        .level-indicator,
        .score-indicator {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;
            & h3 {
                font-size: 0.8em;
                color: $text-light;
                text-wrap: nowrap;
                margin: 0;
                & span {
                    color: $yellow-dark;
                    margin-left: 5px;
                }
            }
        }
    }
    .bar-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5px;
        align-items: center;
        border: 1px solid rgba($grey-dark, 0.25);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        .bar-item {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 150px;
            border-right: 1px solid rgba($grey-dark, 0.25);
            .bar {
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                bottom: 25px;
                .bar-fill {
                    width: 25px;
                    background: rgba($yellow-dark, 0.25);
                    border-radius: 5px;
                    &.health {
                        background: rgba($grey-dark, 0.25);
                    }
                }
            }
            & h3 {
                position: absolute;
                bottom: 0;
                font-size: 1em;
                color: $text-light;
                text-wrap: nowrap;
                margin: 0;
            }
        }
    }
}