// Utility colors
$background-light: #f5f7ff;
$background-grey: #CCD6D8;
$background-dark: #0b090a;
$text: #0b090a;
$text-light: #E3E8EB;
$text-shadow: #aaaaaa;
$shadow: rgba(0, 0, 0, 0.5);

// Brand colors
$dark: #0b090a;
$grey-dark: #889293;
$grey-light: #B7C1C3;
$light: #CCD6D8;
$accent: #E3E8EB;
$white: #ffffff;
$blue: #385cad;
$yellow: #F2C94C;
$yellow-dark: #FFC71F;