@font-face {
    font-family: 'sf-pro-display';
    src: url('./SF-Pro-Display-Regular.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'sf-pro-display-heavy';
    src: url('./SF-Pro-Display-Heavy.otf') format('opentype');
    font-weight: bold; 
}

$font-heavy: 'sf-pro-display-heavy';
$font-regular: 'sf-pro-display';

body {
    font-family: $font-regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    color: $text;
    text-align: left;
}